.anim-show {
	opacity: 0;
	transition: 1s;
	animation: show 1s 1;
  animation-fill-mode: forwards;
}

.react-calendar button {
  &.react-calendar__tile {
    border-radius: 10%;

    &:disabled {
      background: none;
    }
  }

  &.react-calendar__month-view__days__day--weekend:disabled,
  &.react-calendar__month-view__days__day--neighboringMonth:disabled {
    color: rgba(16, 16, 16, 0.3);
  }
}

.mb-3-5 {
  margin-bottom: 2.2em !important;
}

.btn > svg {
  vertical-align: -.125em;
  margin-right: 0.2em;
}

.mt-12 {
  margin-top: 12%;
}

.time-buttons-group {
  display: grid;
  grid-template-columns: repeat(6, max-content);
}

.remove-button {
  color: red;
}

.change-data {
  .input-group-text {
    background-color: #ddd9d9;

    &:hover {
      background-color: #ccc8c8;
    }
  }

  .input-group > .form-control {
    flex: unset;
    width: 60%;
  }
}

.navbar-expand .navbar-collapse {
  flex-basis: 33.3%;
}

.navbar-brand {
  margin-right: 0px;
}

@keyframes show {
 0% { opacity: 0; }
 100% { opacity: 1; }
}

@media (max-width: 992px) {

  .fs-sm-6 {
    font-size: 0.9em;
  }

  .time-buttons-group {
    grid-template-columns: repeat(5, max-content);
    justify-content: center;
  }
}

@media (max-width: 400px) {

  .time-buttons-group {
    grid-template-columns: repeat(3, max-content);
  }
}