.anim-show {
	opacity: 0;
	transition: 1s;
	animation: show 1s 1;
  animation-fill-mode: forwards;
}

.react-calendar button {
  &.react-calendar__tile {
    border-radius: 50%;
    .open-date {
      border: 1px solid green;
    }
  }
}

.mb-3-5 {
  margin-bottom: 2.2em;
}

@keyframes show {
 0% { opacity: 0; }
 100% { opacity: 1; }
}